{
  "indent": [
    "error",
    2
  ],
  "semi": [
    "error",
    "always"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
